<!DOCTYPE html>
<html>
    <head>
        <title>State Facts</title>
    </head>
    <body>

        <form action="/showFact">
          <select name="state"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ state_options }}
          </select>
          <br><br>
          <input type="submit" value="Get a fun fact!">
        </form>
        <div id="funFact">
            <p>{{ funFact }}</p>
        </div>

    </body>
</html>
